<article class="card">

  <img class="card-image" src={{book.bookCover}}>

  <div class="card-content">
    <h3>Title: {{book.title}}</h3>
    <h3>Author: {{book.author}}</h3>
    <h3>Publication Date: {{book.publicationDate}}</h3>
    <p>Description:{{book.description}}</p>

  </div>

  <div class="button-container">
    <!-- <button class="edit-btn">Edit</button>
    <button class="delete-btn">Delete</button> -->

    <app-button buttonName="Edit"  [buttonClass]="'btnEdit'"></app-button>

    <app-button buttonName="Delete"  [buttonClass]="'btnDelete'"></app-button>
  </div>

</article>
