<div class="container">

<app-navbar></app-navbar>

<div>
  <app-button id="btn-addBook" [buttonClass]="'btnPrimary'" buttonName="Add" (onClick)="openModal(false)">
  </app-button>
</div>



<div class="cards">
<div *ngFor="let book of books | async">
  <app-book [book]="book" (onClick)="openModal(true)"></app-book>
</div>

</div>

<div class="modal-wrapper">
  <app-modal [isEditMode]="isEditMode" [book]="data" *ngIf="showModal" #modalComponent  (close)="closeModal()"></app-modal>

</div>

</div>
