button {
border-radius: 5px;
border: 0;
padding: 0.5rem;
width: 100px;
cursor: pointer;
font-size: 15px;

}

.btnDelete {
  background-color: #e63946;
  color: #000;
}

.btnPrimary {
  background-color: #1B2034;
  color: #FFF;
}

.btnEdit {
  background-color: #537fe7;
  color: #FFF;
}

