<div class="wrapper">
  <form  ngNativeValidate #bookForm="ngForm" class="modal-content" (ngSubmit)="addEditBook(bookForm.value)">
    <div class="content">
      <label for="title">Title</label>

      <input  type="textArea" name="title" id="title" placeholder="Enter book title"  ngModel required>
    </div>
    <div class="content">
      <label for="author">Author</label>

      <input type="text" name="author" id="author" placeholder="Enter author name"  ngModel required>
    </div>

    <div class="content">
      <label for="publicationDate">Publication Date</label>

      <input type="date" name="publicationDate" id="publicationDate" ngModel>
    </div>

    <div class="content">
      <label for="description">Description</label>

      <textarea name="description" id="description" cols="20" rows="4" ngModel=""></textarea>
    </div>



    <div class="content">
      <input type="file"  name="bookCover" id="bookCover"  (change)="handleFileInput($event)" ngModel [required]="!isEditMode" accept="image/*">
    </div>

    <div class="input-container">
    <input type="submit" value="{{isEditMode ? 'Update' : 'Save'}}">
    <input (click)="onCancelButtonClick()" type="button" value="Cancel">

    </div>



  </form>

</div>
